//Importação
@use "./hero";
@use "./componentes/info_hero";
@use "./componentes/buttons";
@use "./event";
@use "./variables";

//Config padrão
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
    color: variables.$textPrimory;
}

//Container responsivo
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }


    @media(max-width: 1024px) {
        max-width: 90%;
    }
}